<div class="p-4 mx-auto my-8 shadow-2xl rounded-xl w-fit bg-g text-w">
  <h1 class="mb-4 text-center">Connexion</h1>

  <!-- *******************Début formulaire******************* -->
  <form (ngSubmit)="login(loginForm)" #loginForm="ngForm">

    <!-- Pseudo ou email input -->
    <div class="flex">
      <div class="p-2 m-auto text-center form-group">
        <input type="email" class="form-control inputBlue placeholder:text-w w-80" name="email" ngModel required
          placeholder="Adresse email" />
      </div>
    </div>
    <!-- Password input -->
    <div class="flex">
      <div class="p-2 m-auto text-center form-group">
        <input type="password" class="form-control inputBlue placeholder:text-w w-80" name="password" ngModel required
          placeholder="Mot de passe" minlength="8" />
      </div>
    </div>

    <!-- valider identifiants -->
    <div class="m-2 text-center">
      <button type="submit"
        class="w-40 p-2 mb-2 text-xl buttonOrange hover:outline-offset-2 hover:outline-2 hover:outline-double hover:outline-w">Se
        connecter</button>
    </div>

    <!-- Redirection créer un compte -->
    <!-- <div class="text-center">
      <button routerLink="/signup"
        class="p-2 text-l w-max hover:outline-offset-2 hover:outline-2 hover:outline-double hover:outline-w buttonOrange">Pas
        encore inscrit ?</button>
    </div> -->
    <div class="text-center">
      <p>Pas encore inscrit ? <a  routerLink="/signup" class="hover:underline hover:underline-offset-4 hover:decoration-w">M'inscrire !</a></p>
    </div>

  </form>
  <!-- *******************Fin formulaire******************* -->

</div>