<div class="p-4 -m-4">
    <h2 class="text-b">Mes inscriptions</h2>

    <!-- <button id="input1" type="button" class="m-2 ps-2 pe-2" (click)="getPage0()">0</button> -->
    
    <h3 class="text-center text-w">
        <button type="button" class="px-2 m-2" (click)="toPreviousPage()"><</button>
        {{page}}
        <button type="button" class="px-2 m-2" (click)="toNextPage()">></button>
    </h3>
    
            <!-- Penser a faire plus tard le max de page -->


            <div class="grid grid-cols-5 mx-20 my-10 h-fit rounded-xl">
                <!-- Boucle *ngFor-->
                <div *ngFor="let myCourse of myCourses">
                    <!-- Début Card-->
                    <div class="h-full p-4 mx-4 cardGrise">
                        <h3 class="text-center">Trajet proposé par</h3>
                        <h3 class="text-center text-o">{{myCourse.username}}</h3>

                        <div class="form-group">
                            <div class="flex-col mt-2">
                                <div><label>Adresse de départ</label></div>
                                <div class="mt-2">
                                    <button type="text" class="w-full inputBlue" disabled>{{myCourse.displayDepartureAddress}}</button>
                                </div>
                            </div>

                            <div class="flex-col mt-2">
                                <div><label>Adresse d'arrivée</label></div>
                                <div class="mt-2">
                                    <button type="text" class="w-full inputBlue" disabled>{{myCourse.displayArrivalAddress}}</button>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="pb-2 m-auto form-group ">
                                <div class="mt-2"><label>Date et Heure</label></div>
                                <div class="mt-2 mr-2">
                                    <button type="text" class="w-full inputBlue" disabled>{{myCourse.displayDate | date: 'dd/MM/yyyy HH:mm'}}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Fin Card -->

                </div>
                <!-- Fin de la boucle -->
            </div>

</div>