<div class="divide-y">

    <!--  **************************************   MyCourses      ***********************************************  -->
    <div class="p-4 m-4">
        <h1 class="text-center text-o">En tant que conducteur</h1>

        <!-- <button type="button" class="m-2 ps-2 pe-2" (click)="getPage0Courses()">0</button> -->

        <div class="p-2 mx-auto mt-6 text-center w-fit rounded-xl pagination">
            <h3 class="text-3xl text-w">
                <button type="button" class="px-2 m-2" (click)="toPreviousPageCourses()"><i class=" fa-solid fa-circle-chevron-left"></i></button>
                {{pageCourses}}
                <button type="button" class="px-2 m-2" (click)="toNextPageCourses()"><i class=" fa-solid fa-circle-chevron-right"></i></button>
            </h3>
        </div>

        <div class="grid grid-cols-5 mx-20 my-10 h-fit rounded-xl">
            <!-- Boucle *ngFor-->
            <div *ngFor="let myCourse of myCourses">
                <!-- Début Card-->
                <div class="h-full p-4 mx-4 cardGrise">
                    <h3 class="text-center">Trajet proposé par</h3>
                    <h3 class="text-center text-o">{{myCourse.driverUsername}}</h3>
                    <div class="form-group">
                        <div class="flex-col mt-2">
                            <div><label>Adresse de départ</label></div>
                            <div class="mt-2">
                                <button type="text" class="w-full inputBlue" disabled>
                                    {{myCourse.streetDeparture +", "+myCourse.departureZipCode +"
                                    "+myCourse.cityDeparture}}
                                </button>
                            </div>
                        </div>
                        <div class="flex-col mt-2">
                            <div><label>Adresse d'arrivée</label></div>
                            <div class="mt-2">
                                <button type="text" class="w-full inputBlue" disabled>{{myCourse.streetArrival + ", "
                                    +myCourse.arrivalZipCode+ " " +myCourse.cityArrival}}</button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="pb-2 m-auto form-group ">
                            <div class="mt-2"><label>Date et Heure</label></div>
                            <div class="mt-2 mr-2">
                                <button type="text" class="w-full inputBlue" disabled>{{myCourse.date | date:
                                    'dd/MM/yyyy HH:mm'}}</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Fin Card -->
            </div>
            <!-- Fin de la boucle -->
        </div>
    </div>

    <!--  **************************************   Fin MyCourses      ***********************************************  -->

    <!--  **************************************   MyReservations      ***********************************************  -->

    <div class="p-4 m-4">
        <h1 class="text-center text-o">En tant que passager</h1>

        <!-- <button id="input1" type="button" class="m-2 ps-2 pe-2" (click)="getPage0Reservations()">0</button> -->

        <div class="p-2 mx-auto mt-6 text-center w-fit rounded-xl pagination">
            <h3 class="text-3xl text-w">
                <button type="button" class="px-2 m-2" (click)="toPreviousPageReservations()"><i class=" fa-solid fa-circle-chevron-left"></i></button>
                {{pageReservations}}
                <button type="button" class="px-2 m-2" (click)="toNextPageReservations()"><i class=" fa-solid fa-circle-chevron-right"></i></button>
            </h3>
        </div>

        <div class="grid grid-cols-5 mx-20 my-10 h-fit rounded-xl">
            <!-- Boucle *ngFor-->
            <div *ngFor="let myReservation of myReservations">
                <!-- Début Card-->
                <div class="h-full p-4 mx-4 cardGrise">
                    <h3 class="text-center">Trajet proposé par</h3>
                    <h3 class="text-center text-o">{{myReservation.username}}</h3>
                    <div class="form-group">
                        <div class="flex-col mt-2">
                            <div><label>Adresse de départ</label></div>
                            <div class="mt-2">
                                <button type="text" class="w-full inputBlue"
                                    disabled>{{myReservation.displayDepartureAddress}}</button>
                            </div>
                        </div>
                        <div class="flex-col mt-2">
                            <div><label>Adresse d'arrivée</label></div>
                            <div class="mt-2">
                                <button type="text" class="w-full inputBlue"
                                    disabled>{{myReservation.displayArrivalAddress}}</button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="pb-2 m-auto form-group ">
                            <div class="mt-2"><label>Date et Heure</label></div>
                            <div class="mt-2 mr-2">
                                <button type="text" class="w-full inputBlue" disabled>{{myReservation.displayDate |
                                    date: 'dd/MM/yyyy HH:mm'}}</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Fin Card -->
            </div>
            <!-- Fin de la boucle -->
        </div>
    </div>

    <!--  **************************************   Fin MyReservations     ***********************************************  -->

</div>