<div class="p-4 mx-auto mt-8 shadow-2xl rounded-xl w-fit bg-g text-w" *ngIf="loaded">
    <h1 class="mb-4 text-center">Mon profil</h1>

    <form [formGroup]="profilForm" aria-disabled="update">
        <div class="p-2">
            <div class="flex">
                <div class="p-2 text-center form-group">
                    <p class="text-left">Pseudo</p>
                    <input type="text" class="form-control placeholder:text-w" [ngClass]="{'inputOrange': !usernameCheck, 'inputBlue': usernameCheck}" formControlName="username">
                </div>
                <!-- <div class="p-2 m-auto text-center form-group">
                    <input type="text" class="form-control inputBlue placeholder:text-w" formControlName="idCompany">
                </div> -->
            </div>
            <div class="p-2 errorWarning" *ngIf="!usernameCheck">
                <span class="block sm:inline">Ce pseudo est déjà utilisé</span>
            </div>

            <div class="flex">
                <div class="p-2 m-auto text-center form-group">
                    <p class="text-left">Nom</p>
                    <input type="text" class="form-control inputBlue placeholder:text-w" formControlName="lastName">
                </div>
                <div class="p-2 m-auto text-center form-group">
                    <p class="text-left">Prénom</p>
                    <input type="text" class="form-control inputBlue placeholder:text-w" formControlName="firstName">
                </div>
            </div>

            <div class="p-2 m-auto text-center form-group">
                <p class="text-left">Email</p>
                <input type="email" class="w-full form-control placeholder:text-w" [ngClass]="{'inputOrange': !emailVacant, 'inputBlue': emailVacant}" formControlName="email">
            </div>
            <div class="p-2 errorWarning" *ngIf="emailError">
                <span class="block sm:inline">Email non conforme</span><br>
                <span class="block sm:inline">Exemples : xxxxxxxxxxx@xxxxxxx.fr ou xxxxxx@xxx.com</span>
            </div>
            <div class="p-2 errorWarning" *ngIf="!emailVacant">
                <span class="block sm:inline">Cet email déjà utilisé</span>
            </div>

            <div class="p-2 m-auto text-center form-group" *ngIf="update && !emailCheck || (profilForm.get('emailVerified')?.dirty)">
                <input type="email" class="w-full form-control placeholder:text-w" [ngClass]="{'inputOrange': !emailCheck, 'inputBlue': emailCheck}" formControlName="emailVerified" placeholder="confirmation email">
            </div>
            <div class="p-2 errorWarning" *ngIf="!emailCheck && emailVacant">
                <span class="block sm:inline">Vous devez confirmer le nouvel email</span>
            </div>

            
            
            
            <div class="p-2 m-auto text-center form-group"*ngIf="update">
                <p class="text-left">Mot de passe</p>
                <h6 class="pb-1" *ngIf="update">8 caractères obligatoires (1 Maj, 1 Min, 1 Chiffre et 1 caractère spécial obligatoire)</h6>
                <input type="password" class="w-full form-control placeholder:text-w" [ngClass]="{'inputOrange': passwordError, 'inputBlue': !passwordError}" formControlName="password" placeholder="Modifer le mot de passe">
            </div>
            <div class="p-2 errorWarning" *ngIf="passwordError">
                <span class="block sm:inline">Min. 8 caractères, 1 Maj, 1 Min, 1 Chiffre et 1 caractère spécial obligatoire</span>
            </div>
            
            <div class="p-2 m-auto text-center form-group" *ngIf="!passwordConfirm || (profilForm.get('passwordVerified')?.dirty)">
                <input type="password" class="w-full form-control inputBlue placeholder:text-w" [ngClass]="{'inputOrange': !passwordConfirm, 'inputBlue': passwordConfirm}" formControlName="passwordVerified" placeholder="Confirmation du mot de passe">
            </div>
            <div class="p-2 errorWarning" *ngIf="confirmError">
                <span class="block sm:inline">Doit être identique au nouveau mot de passe</span>
            </div>
            



            <div class="m-2 text-center">
                <button type="submit"
                    class="py-1 text-xl w-60 buttonOrange hover:outline-offset-2 hover:outline-2 hover:outline-double hover:outline-w"
                    (click)="onUpdateForm()" *ngIf="!update">Modifier mon profil</button>
            </div>
            <div class="m-2 text-center">
                <button type="submit"
                    class="w-40 py-1 text-xl buttonOrange hover:outline-offset-2 hover:outline-2 hover:outline-double hover:outline-w"
                    (click)="onSubmitForm()" *ngIf="update" [disabled]="profilForm.invalid || !allValid">Enregistrer</button>
            </div>
        </div>
    </form>
</div>
