
<footer class="w-full shadow-xl md:flex mt-4 md:items-center md:justify-around">
    <span><img src="/assets/image/gros_logo_accueil2.png" class="w-24"></span>
        <ul class="flex flex-wrap items-center mt-3 text-sm text-white dark:text-gray-400 sm:mt-0">
            <li>
                <p><a href="https://www.iubenda.com/privacy-policy/28082197" class="iubenda-white iubenda-noiframe iubenda-embed iubenda-noiframe" title="Politique de confidentialité " target="_blank">Politique de confidentialité |</a></p>
            </li>
            <li>
                <p class="mr-4 md:mr-6"> Intégré et codé par <a class="hover:underline" href="https://github.com/audreylory" target="_blank">@Aliera</a><a class="hover:underline" href="https://github.com/Baschounette" target="_blank"> @Baschounette</a> & <a class="hover:underline" href="https://github.com/ltevidence" target="_blank">@LtEvidence</a></p>
            </li>
            <li> <p class="text-sm text-white  dark:text-gray-400">© 2022 <a href="https://github.com/Blablacat-IPI/" class="hover:underline" target="_blank">Blablacat™</a>. All Rights Reserved.
            </p>
        </li>
        </ul>
    </footer>
    