
<footer class="w-full shadow-xl  md:flex md:items-center md:justify-between md:p-6 md-m-4 dark:bg-gray-800">
        <span class="text-sm text-white sm:text-center dark:text-gray-400">© 2022 <a href="https://flowbite.com" class="hover:underline">Blablacat™</a>. All Rights Reserved.
        </span>
        <ul class="flex flex-wrap items-center mt-3 text-sm text-white dark:text-gray-400 sm:mt-0">
            <li>
                <a href="#" class="mr-4 hover:underline md:mr-6 ">Politique de confidentialité</a>
            </li>
            <li>
                <a href="#" class="mr-4 hover:underline md:mr-6">CGU</a>
            </li>
            <li>
                <p class="mr-4 md:mr-6">Intégré et codé par <a class="hover:underline" href="https://github.com/audreylory">@Aliera</a><a class="hover:underline" href="https://github.com/Baschounette"> @Baschounette</a> & <a class="hover:underline" href="https://github.com/ltevidence">@LtEvidence</a></p>
            </li>
            <li>
                <a href="#" class="hover:underline">Contact</a>
            </li>
        </ul>
    </footer>
    