
<footer class="w-full shadow-xl md:flex md:items-center md:justify-evenly">
    <span><img src="/assets/image/gros_logo_accueil2.png" class="w-24"></span>
        <p class="text-sm text-w">© 2022 <a href="https://github.com/Blablacat-IPI/" class="hover:underline">Blablacat™</a>. All Rights Reserved.
        </p>
        <ul class="flex flex-wrap items-center mt-3 text-sm text-w sm:mt-0">
            <li>
                <a href="#" class="mr-4 hover:underline md:mr-6 ">Politique de confidentialité</a>
            </li>
            <li>
                <a href="#" class="mr-4 hover:underline md:mr-6">CGU</a>
            </li>
            <li>
                <p class="mr-4 md:mr-6">Intégré et codé par <a class="hover:underline" href="https://github.com/audreylory">@Aliera</a><a class="hover:underline" href="https://github.com/Baschounette"> @Baschounette</a> & <a class="hover:underline" href="https://github.com/ltevidence">@LtEvidence</a></p>
            </li>
            <li>
                <a href="#" class="hover:underline">Contact</a>
            </li>
        </ul>
    </footer>
    