<div class="text-w">
    <h1 class="mt-4 text-center text-o">Liste des trajets :</h1>

    <div class="p-2 m-2 text-center bg-green-500 text-w rounded-xl" *ngIf="courseReservation">
        <h2>Réservation effectuée</h2>
    </div>

    <div class="mx-4 mt-4 mb-6 text-center">
        <button class="py-1 text-xl w-52 buttonBlue hover:outline-offset-2 hover:outline-2 hover:outline-double hover:outline-w" (click)="afficherRecherche()">Recherche</button>
    </div>
    
    <div class="p-4 m-auto cardGrise w-fit" *ngIf="afficheRecherche">
        <form (ngSubmit)="searchByCity(city)" #city="ngForm">
            <div class="flex">
                <div class="p-2 m-auto text-center">
                    <input type="text" class="form-control inputBlue placeholder:text-w" name="keyCity" placeholder="Ville" ngModel>
                </div>
                <div class="p-2 m-auto form-group">
                    <button type="submit" class="py-1 text-xl w-52 buttonBlue hover:outline-offset-2 hover:outline-2 hover:outline-double hover:outline-w">Rechercher</button>
                </div>
            </div>
        </form>
        <form (ngSubmit)="searchByStreet(street)" #street="ngForm">
            <div class="flex">
                <div class="p-2 m-auto text-center">
                    <input type="text" class="form-control inputBlue placeholder:text-w" name="keyStreet" placeholder="Adresse" ngModel>
                </div>
                <div class="p-2 m-auto form-group">
                    <button type="submit" class="py-1 text-xl w-52 buttonBlue hover:outline-offset-2 hover:outline-2 hover:outline-double hover:outline-w">Rechercher</button>
                </div>
            </div>
        </form>
        <form (ngSubmit)="searchByZipcode(zipcode)" #zipcode="ngForm">
            <div class="flex">
                <div class="p-2 m-auto text-center">
                    <input type="text" class="form-control inputBlue placeholder:text-w" name="keyZipcode" placeholder="Code Postal" ngModel>
                </div>
                <div class="p-2 m-auto form-group">
                    <button type="submit" class="py-1 text-xl w-52 buttonBlue hover:outline-offset-2 hover:outline-2 hover:outline-double hover:outline-w">Rechercher</button>
                </div>
            </div>
        </form>
    </div>


    <div class="p-2 mx-auto mt-6 text-center w-fit rounded-xl pagination">
        <h3 class="text-3xl text-w">
            <button type="button" class="px-2 m-2" (click)="toPreviousPageOfCourses()"><i class=" fa-solid fa-circle-chevron-left"></i></button>
            {{page}}
            <button type="button" class="px-2 m-2" (click)="toNextPageOfCourses()"><i class=" fa-solid fa-circle-chevron-right"></i></button>
        </h3>
    </div>


    <div class="grid grid-cols-4 gap-8 mx-20 my-10 h-fit rounded-xl">

        <!-- Début de la boucle ngFor -->
        <div *ngFor="let course of courses">
            <!-- card -->
            <div class="h-full p-4 mx-4 cardGrise">
                <h3 class="text-center">Trajet proposé par</h3>
                
                <h3 class="text-center text-o">{{course.driverUsername}}</h3>
        
                <div class="flex-col mt-2">
                    <div>
                        <label>Adresse de départ</label>
                    </div>
                    <div class="mt-2">
                        <button type="text" class="w-full inputBlue" disabled>{{course.streetDeparture +", "+course.departureZipCode +" "+course.cityDeparture}}</button>
                    </div>
                </div>
                <div class="flex-col mt-2">
                    <div>
                        <label>Adresse d'arrivée</label>
                    </div>
                    <div class="mt-2">
                        <button type="text" class="w-full inputBlue" disabled>{{course.streetArrival + ", " +course.arrivalZipCode+ " " +course.cityArrival}}</button>
                    </div>
                </div>  
                <div class="flex mt-2">
                    <div class="flex-col basis-1/2">
                        <div class="mt-2">
                            <label>Date</label>
                        </div>
                        <div class="mt-2 mr-2">
                            <button type="text" class="w-full inputBlue" disabled>{{course.date| date:'shortDate'}}</button>
                        </div>
                    </div>
                    <div class="flex-col basis-1/2">
                        <div class="mt-2 ml-2">
                            <label>Horaire</label>
                        </div>
                        <div class="mt-2 ml-2">
                            <button type="text" class="w-full inputBlue" disabled>{{course.date | date:'shortTime'}}</button>
                        </div>
                    </div>
                </div> 
                <div class="mt-2 ">
                    <div class="m-auto mt-4 text-center">
                        <button class="w-40 py-2 text-xl buttonOrange hover:outline-offset-2 hover:outline-2 hover:outline-double hover:outline-w tip"
                         (click)="addReservation(course)" data-bs-toggle="tooltip" title="{{textTooltip}}" [disabled]="!test">Reserver</button>
                    </div>


                    
                </div>          
            </div>
            <!-- Fin card -->
            
        </div>
        <!-- Fin ngfor -->

    </div>

</div>

<div id="tooltip-click" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
    Tooltip content
    <div class="tooltip-arrow" data-popper-arrow></div>
</div>
