<div class="p-4 mx-auto mt-8 shadow-2xl rounded-xl w-fit bg-g text-w">
    <h1 class="mb-4 text-center">Inscription</h1>

    <form>
        <div class="p-2">

            <div class="flex">
                <div class="p-2 m-auto text-center form-group">
                    <input type="text" class="form-control inputBlue placeholder:text-w" placeholder="Pseudo" name="username" ngModel required>
                </div>
                <div class="p-2 m-auto text-center form-group">
                    <input type="text" class="form-control inputBlue placeholder:text-w" placeholder="ID Entreprise" name="idCompany" ngModel required>
                </div>
            </div>

            <div class="flex">
                <div class="p-2 m-auto text-center form-group">
                    <input type="text" class="form-control inputBlue placeholder:text-w" placeholder="Nom" name="lastName" ngModel required>
                </div>
                <div class="p-2 m-auto text-center form-group">
                    <input type="text" class="form-control inputBlue placeholder:text-w" placeholder="Prénom" name="firstName" ngModel required>
                </div>
            </div>

            <h6 class="pt-2 pb-1 pl-2">Mot de passe de 8 caractères obligatoires (1 Maj, 1 Min, 1 Chiffre et 1 caractère spécial obligatoire)</h6>
            
            <div class="flex">
                <div class="p-2 m-auto text-center form-group">
                    <input type="password" class="form-control inputBlue placeholder:text-w" placeholder="Mot de passe" name="password" ngModel required>
                </div>
                <div class="p-2 m-auto text-center form-group">
                    <input type="password" class="form-control inputBlue placeholder:text-w" placeholder="Confirmation du mot de passe" name="passwordVerified" ngModel required>
                </div>
            </div>

            <div class="p-2 m-auto text-center form-group">
                <input type="email" class="w-full form-control inputBlue placeholder:text-w" placeholder="Adresse email" name="email" ngModel required>
            </div>

            <div class="p-2 m-auto text-center form-group">
                <input type="email" class="w-full form-control inputBlue placeholder:text-w" placeholder="Confirmation de l'adresse email" name="emailVerified" ngModel required>
            </div>

            <div class="m-2 text-center">
                <button type="submit" class="py-1 text-xl buttonOrange w-40 hover:outline-offset-2 hover:outline-2 hover:outline-double hover:outline-w">S'inscrire</button>
            </div>

            <div class="pt-1 text-center">
                <p>Déjà Inscrit ? <a routerLink="/login" class="hover:underline hover:underline-offset-4 hover:decoration-w">Se Connecter</a></p>
            </div>
        </div>
    </form>
</div>