<ul class="flex justify-between shadow-xl nav shadow-black-300">
    <div class="p-4 ml-20">
      <li class="nav-brand">
        <img class="w-72" src="/assets/image/logo_accueil.png" alt="Logo">
      </li>
    </div>
    <div class="flex justify-between p-4 pr-10 nav">
      <li class="flex items-center p-10 nav-item">
        <button class="nav-link" (click)="afficherHomepage()">Accueil</button>
      </li>
      <li class="flex items-center p-10 nav-itemr">
        <button class="nav-link" (click)="afficherCourses()">Tous les trajets</button>
      </li>
      <li class="flex items-center p-10 nav-item">
        <button class="nav-link" (click)="afficherSignup()">Inscription</button>
      </li>
      <li class="flex items-center p-10 nav-item">
        <button class="nav-link" (click)="afficherLogin()">Connexion</button>
      </li>
      <li class="flex items-center p-10 nav-item">
        <button class="nav-link" (click)="afficherAccount()">Mon Compte</button>
      </li>
    </div>
  </ul>