<ul class="flex justify-between shadow-xl nav shadow-black-300">
  <div class="p-4 ml-20">
    <li class="nav-brand">
      <img class="w-72" src="/assets/image/logo_accueil_BO.png" alt="Logo">
    </li>
  </div>
  <div class="flex justify-between p-4 pr-10 nav">
    <li class="flex items-center p-10 nav-item">
      <button class="p-2 nav-link hover:underline hover:underline-offset-8 hover:decoration-o"
        routerLink="">Accueil</button>
    </li>
    <li class="flex items-center p-10 nav-item">
      <button class="p-2 nav-link hover:underline hover:underline-offset-8 hover:decoration-o" routerLink="courses">Tous
        les trajets</button>
    </li>

    <!-- Ngif  -->

    <li class="flex items-center p-10 nav-item" *ngIf="signuptoggle">
      <button class="p-2 nav-link hover:underline hover:underline-offset-8 hover:decoration-o"
        routerLink="signup">Inscription</button>
    </li>
    <li class="flex items-center p-10 nav-item" *ngIf="logintoggle">
      <button class="p-2 nav-link hover:underline hover:underline-offset-8 hover:decoration-o"
        routerLink="login">Connexion</button>
    </li>


    <li class="flex items-center p-10 nav-item" *ngIf="addcoursestoggle">
      <button class="p-2 ease-in-out hover:decoration-o hover:underline-offset-8 hover:underline" type="button"
        data-modal-toggle="defaultModal"><i class="fa-regular fa-calendar-plus"></i> Créer un trajet</button>
    </li>
    <li class="flex items-center p-10 nav-item" *ngIf="accounttoggle">
      <button class="p-2 nav-link hover:underline hover:underline-offset-8 hover:decoration-o" 
        routerLink="sidebar">Mon Compte [<span class="text-b ">{{username}}</span>]</button>
    </li>
    <li class="flex items-center p-1 nav-item" *ngIf="logouttoggle">
      <button class="p-2" (click)="logOut()"><i class="px-3 py-1 rounded-lg bg-o text-w hover:outline-offset-2 hover:outline-2 hover:outline-double hover:outline-w fa-solid fa-arrow-right-from-bracket"></i></button>
    </li>

  </div>
</ul>


<div id="defaultModal" tabindex="-1" aria-hidden="true"
  class="fixed top-0 left-0 right-0 z-50 hidden w-full overflow-x-hidden overflow-y-auto bg-opacity-0 dark:bg-opacity-0 md:inset-0 h-modal md:h-full">
  <app-addcourses></app-addcourses>
</div>