<div class="p-4 mx-auto my-8 w-fit">

    <div class="p-2 m-2 text-center bg-green-500 text-w rounded-xl" *ngIf="permanentCourseRegister">
        <h2>Trajet bien enregistré</h2>
    </div>

    <div class="p-4 mx-auto mt-4 shadow-2xl bg-g rounded-xl w-max text-w">

        <h1 class="text-3xl text-center">Créer un trajet Permanent</h1>
    
        <form (ngSubmit)="addPermanentCourses(courseFrom)" #courseFrom="ngForm">
            <div class="p-2 text-center form-group">
                <h5 class="p-2">Adresse de départ</h5>
                <div class="grid grid-cols-2 gap-3">
                    <div class="col-span-2 pb-2">
                        <input type="email" class="w-full form-control inputBlue placeholder:text-w"
                            placeholder="Numéro de voie et rue" name="streetDeparture" ngModel required>
                    </div>
                    <div class="text-center form-group">
                        <input type="text" class="form-control inputBlue placeholder:text-w" placeholder="Code postal"
                            name="departureZipCode" ngModel required>
                    </div>
                    <div class="text-center form-group">
                        <input type="text" class="form-control inputBlue placeholder:text-w" placeholder="Ville"
                            name="cityDeparture" ngModel required>
                    </div>
                </div>
            </div>
    
            <!-- Fin formulaire adresse de depart -->
    
            <div class="p-2 m-auto text-center form-group">
                <h5 class="p-2">Adresse d'arrivée</h5>
                <div class="grid grid-cols-2 gap-3">
                    <div class="col-span-2 pb-2">
                        <input type="email" class="w-full form-control inputBlue placeholder:text-w"
                            placeholder="Numéro de voie et adresse" name="streetArrival" ngModel required>
                    </div>
                    <div class="pb-2 m-auto text-center form-group">
                        <input type="text" class="form-control inputBlue placeholder:text-w" placeholder="Code postal"
                            name="arrivalZipCode" ngModel required>
                    </div>
                    <div class="pb-2 m-auto text-center form-group">
                        <input type="text" class="form-control inputBlue placeholder:text-w" placeholder="Ville"
                            name="cityArrival" ngModel required>
                    </div>
                </div>
            </div>
    
            <div class="grid grid-cols-2 gap-3 p-2 text-center">
                <div class="col-span-1 pb-2 form-group">
                    <h5 class="p-2">Date de début</h5>
                    <input type="date" class="w-full text-center form-control inputBlue placeholder:text-w" name="date"
                        value={{today}} min={{today}} max={{max}} ngModel required>
                </div>
                <div class="col-span-1 pb-2 form-group">
                    <h5 class="p-2">Date de fin</h5>
                    <input type="date" class="w-full text-center form-control inputBlue placeholder:text-w" name="date"
                        value={{today}} min={{today}} max={{max}} ngModel required>
                </div>
            </div>
    
            <div class="grid grid-cols-2 gap-3 p-2 text-center">
                <div class="col-span-1 pb-2 form-group">
                    <h5 class="p-2">Heure</h5>
                    <input type="time" class="w-full text-center form-control inputBlue placeholder:text-w" name="date"
                        value={{today}} min={{today}} max={{max}} ngModel required>
                </div>
                <div class="pb-2 form-group">
                    <h5 class="p-2">Nombre de place(s)</h5>
                    <select [(ngModel)]="ngDropdown" name="numberPlace"
                        class="w-full text-center form-control inputBlue bg-w h-11" ngModel required>
                        <option value="nombre de places">Nombre de places</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="3">4</option>
                    </select>
                </div>
            </div>
    
            <div>
                <h3 class="p-2 text-center">Choisir les jours voulus</h3>
                
                <div>
                    <div class="form-check">
                        <div class="text-center">
                            <label class=" text-b form-check-label" for="flexCheckDefault">Tous les jours</label>
                        </div>
                        <div class="text-center">
                            <input class="w-4 h-4 mt-1 transition duration-200 bg-center bg-no-repeat bg-contain border rounded-sm appearance-none cursor-pointer align-center border-o bg-w form-check-input checked:bg-o checked:border-o focus:outline-none" 
                             type="checkbox" value="" id="flexCheckDefault">
                        </div>
                    </div>
                </div>
    
                <div class="grid grid-cols-5 gap-2 p-2 text-center">
                    <div class="form-check">
                        <div class="text-center">
                            <label class=" text-b form-check-label" for="flexCheckDefault">Lundi</label>
                        </div>
                        <div class="text-center">
                            <input class="w-4 h-4 mt-1 transition duration-200 bg-center bg-no-repeat bg-contain border rounded-sm appearance-none cursor-pointer align-center border-o bg-w form-check-input checked:bg-o checked:border-o focus:outline-none" 
                             type="checkbox" value="" id="flexCheckDefault">
                        </div>
                    </div>
                    <div class="form-check">
                        <div class="text-center">
                            <label class=" text-b form-check-label" for="flexCheckDefault">Mardi</label>
                        </div>
                        <div class="text-center">
                            <input class="w-4 h-4 mt-1 transition duration-200 bg-center bg-no-repeat bg-contain border rounded-sm appearance-none cursor-pointer align-center border-o bg-w form-check-input checked:bg-o checked:border-o focus:outline-none" 
                             type="checkbox" value="" id="flexCheckDefault">
                        </div>
                    </div>
                    <div class="form-check">
                        <div class="text-center">
                            <label class=" text-b form-check-label" for="flexCheckDefault">Mercredi</label>
                        </div>
                        <div class="text-center">
                            <input class="w-4 h-4 mt-1 transition duration-200 bg-center bg-no-repeat bg-contain border rounded-sm appearance-none cursor-pointer align-center border-o bg-w form-check-input checked:bg-o checked:border-o focus:outline-none" 
                             type="checkbox" value="" id="flexCheckDefault">
                        </div>
                    </div>
                    <div class="form-check">
                        <div class="text-center">
                            <label class=" text-b form-check-label" for="flexCheckDefault">Jeudi</label>
                        </div>
                        <div class="text-center">
                            <input class="w-4 h-4 mt-1 transition duration-200 bg-center bg-no-repeat bg-contain border rounded-sm appearance-none cursor-pointer align-center border-o bg-w form-check-input checked:bg-o checked:border-o focus:outline-none" 
                             type="checkbox" value="" id="flexCheckDefault">
                        </div>
                    </div>
                    <div class="form-check">
                        <div class="text-center">
                            <label class=" text-b form-check-label" for="flexCheckDefault">Vendredi</label>
                        </div>
                        <div class="text-center">
                            <input class="w-4 h-4 mt-1 transition duration-200 bg-center bg-no-repeat bg-contain border rounded-sm appearance-none cursor-pointer align-center border-o bg-w form-check-input checked:bg-o checked:border-o focus:outline-none" 
                             type="checkbox" value="" id="flexCheckDefault">
                        </div>
                    </div>
                </div>
    
            </div>
    
            <div class="pt-2 mt-2 text-center">
                <button type="submit"
                    class="w-40 py-2 text-xl buttonOrange hover:outline-offset-2 hover:outline-2 hover:outline-double hover:outline-w"
                    >Créer le trajet
                </button>
            </div>
    
        </form>
    
    
    </div>
</div>
