<div class="flex">
  <aside class="flex-none w-fit sidebar" aria-label="Sidebar">
    <div class="px-3 py-4 overflow-y-auto rounded">
      <!-- Zone users -->
      <ul class="space-y-2">
        <li>
          <button class="flex items-center p-2 text-base hover:underline hover:underline-offset-8 hover:decoration-w"
            (click)="afficherAccount()">
            <svg class="flex-shrink-0 w-6 h-6 " viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" clip-rule="evenodd">
              </path>
            </svg>
            <span class="ml-3 text-w">Mon profil</span>
          </button>
        </li>
        <li>
          <button class="flex items-center p-2 text-base hover:underline hover:underline-offset-8 hover:decoration-w"
            (click)="afficherAddPermanentCourses()">
            <svg class="flex-shrink-0 w-6 h-6 " viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" clip-rule="evenodd">
              </path>
            </svg>
            <span class="ml-3 text-w">Créer un trajet permanent</span>
          </button>
        </li>
        <li>
          <button class="flex items-center p-2 text-base hover:underline hover:underline-offset-8 hover:decoration-w"
            (click)="afficherAddCourses()">
            <svg class="flex-shrink-0 w-6 h-6 " viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" clip-rule="evenodd">
              </path>
            </svg>
            <span class="ml-3 text-w">Créer un trajet</span>
          </button>
        </li>
        <li>
          <button class="flex items-center p-2 text-base hover:underline hover:underline-offset-8 hover:decoration-w"
            (click)="afficherMyCourses()">
            <svg class="flex-shrink-0 w-6 h-6 " viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" clip-rule="evenodd">
              </path>
            </svg>
            <span class="ml-3 text-w">Mes trajets</span>
          </button>
        </li>

      </ul>

      <!-- Zone Admin -->

      <ul class="pt-4 mt-4 space-y-2 lineseparator">
        <li>
          <button class="flex items-center p-2 text-base hover:underline hover:underline-offset-8 hover:decoration-w"
            (click)="afficherValidateAccount()">
            <svg class="flex-shrink-0 w-6 h-6 " viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" clip-rule="evenodd">
              </path>
            </svg>
            <span class="ml-3 text-w">Validation</span>
          </button>
        </li>
        <li>
          <button class="flex items-center p-2 text-base hover:underline hover:underline-offset-8 hover:decoration-w"
            (click)="afficherUsers()">
            <svg class="flex-shrink-0 w-6 h-6 " viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" clip-rule="evenodd">
              </path>
            </svg>
            <span class="ml-3 text-w">Utilisateurs</span>
          </button>
        </li>
      </ul>

      <!-- Zone Autre -->

      <div class="flex-1">
        <app-validate-account *ngIf="afficherVa"></app-validate-account>
        <app-users *ngIf="afficherU"></app-users>
        <app-addcourses *ngIf="afficherAc"></app-addcourses>
        <app-mycourses *ngIf="afficherMc"></app-mycourses>
        <app-addpermanentcourses *ngIf="afficherAPc"></app-addpermanentcourses>
        <app-account *ngIf="afficherA"></app-account>
      </div>

      <div class="flex-1">
        <app-validate-account *ngIf="afficherVa"></app-validate-account>
        <app-users *ngIf="afficherU"></app-users>
        <app-addcourses *ngIf="afficherAc"></app-addcourses>
        <app-mycourses *ngIf="afficherMc"></app-mycourses>
      </div>

    </div>
  </aside>